{% extends 'paper/main.html' %}
{% load static %}

{% block activeClassroom %}active{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/student.css' %}" />
<div class="container">
    <div class="left-container">
        <div class="no-class">{{noClass}}</div>
        <ul class="class-list">
            {% for i in student.classes.all %}
                {% if i.id == currentClass.id %}
                    <a href="/classroom/{{i.id}}"><li class="active-class">{{i.class_name}} ({{i.class_code}})</li></a>
                {% else %}
                    <a href="/classroom/{{i.id}}"><li>{{i.class_name}} ({{i.class_code}})</li></a>
                {% endif %}
            {% endfor %}
        </ul>
        <form class="join-class" action="" method="post">
            {% csrf_token %}
            <fieldset>
                <input type="text" name="classCode" maxlength="5" spellcheck="false" class="code-input input" placeholder="Class Code" onkeyup="var start = this.selectionStart; var end = this.selectionEnd; this.value = this.value.toUpperCase(); this.setSelectionRange(start, end);">
                <button class="code-submit" type="submit">Join</button>
            </fieldset>
        </form>
    </div>
    <div class="right-container">
        <div class="right-header"  id="{{hideElement}}">
            <span>Tests</span>
            <div class="dropdown">
                <div class="btn-container">
                    <button id="dropbtn" class="dropbtn" onclick="toggleMenu()"><i class="fa fa-bars" aria-hidden="true"></i></button>
                </div>
                <div id="dropdown-content" class="dropdown-content">
                    <a href="/classroom/{{currentClass.id}}/members">Members</a>
                    <a class="red" href="/classroom/{{currentClass.id}}/leave">Leave Classroom</a>
                </div>
            </div> 
        </div>
        <ul class="test-list">
            {% for i in tests|dictsortreversed:"date_created" %}
                {% if i.id in testGiven %}
                    <a href="/classroom/test/{{i.id}}/response"><li class="green">{{i.topic}}<span>(Submitted) {{i.date_created}}</span></li></a>
                {% else %}
                    <a href="/classroom/test/{{i.id}}"><li>{{i.topic}}<span>{{i.date_created}}</span></li></a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    let toggleMenu = () => {
        let element = document.getElementById("dropdown-content");
        element.classList.toggle("show-block");
        let dropbtn = document.getElementById("dropbtn");
        dropbtn.classList.toggle("float-right");
    }
</script>
{% endblock %}
