{% extends 'paper/main.html' %}
{% load static %}

{% block activeClassroom %}active{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/studentTestResponse.css' %}" />
<div class="container">
    <div class="left-container">
        <div class="topic detail">{{details.topic}}</div>
        <div class="detail">Max. Marks: {{details.mm}}</div>
        <div class="detail">
            Marking Scheme:
            <div class="mk-scheme">Correct: {{details.correct}}</div>
            <div class="mk-scheme">Wrong: {{details.wrong}}</div>
        </div>
        <div class="score">Score: {{details.score}}/{{details.mm}}</div>
    </div>
    
    <div class="right-container">
        <form>
            <div class="info">
                -Color of question number signify the answer status- 
                <ul>
                    <li>Correct<span class='green-block'> &#9605;</span></li>
                    <li>Wrong<span class='red-block'> &#9605;</span></li>
                    <li>Unanswered<span class='gray-block'> &#9605;</span></li>
                </ul>
                <p>- <span class='gray-block'> &#9605;</span> coloured option is the option selected.</p>
                <p>- <span class='green-block'> &#9605;</span> coloured option is the correct option.</p>
            </div>
            {% for i in questions %}
            <div id="question-{{forloop.counter}}" class="question-container">
                <label for="" class="question"><span class="q-no {{i.correct}} {{i.incorrect}} {{i.unanswered}}">Q-{{forloop.counter}}</span> {{i.question}}</label>
                <div id="options" class="option-container">
                    <input type="radio" name="qID-{{i.qid}}" id="qID-{{i.qid}}-A" value="A">
                    <label for="qID-{{i.qid}}-A" class="option {{i.selectedOptionA}} {{i.correctOptionA}}"><span class="option-name">A</span>{{i.options.A}}</label>

                    <input type="radio" name="qID-{{i.qid}}" id="qID-{{i.qid}}-B" value="B">
                    <label for="qID-{{i.qid}}-B" class="option {{i.selectedOptionB}} {{i.correctOptionB}}"><span class="option-name">B</span>{{i.options.B}}</label>

                    <input type="radio" name="qID-{{i.qid}}" id="qID-{{i.qid}}-C" value="C">
                    <label for="qID-{{i.qid}}-C" class="option {{i.selectedOptionC}} {{i.correctOptionC}}"><span class="option-name">C</span>{{i.options.C}}</label>

                    <input type="radio" name="qID-{{i.qid}}" id="qID-{{i.qid}}-D" value="D">
                    <label for="qID-{{i.qid}}-D" class="option {{i.selectedOptionD}} {{i.correctOptionD}}"><span class="option-name">D</span>{{i.options.D}}</label>
                </div>
            </div>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}